{
  "slack": {
    "railtie": {
      "channel": "dreamteam-dev",
      "token": "",
      "verificationToken": ""
    }
  },
  "google": {
    "clientId": "",
    "clientSecret": "",
    "refreshToken": ""
  }
}
